<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>860762438269-5qi59jf75hpf7g56gpmt5soh8mo5uehu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860762438269-5qi59jf75hpf7g56gpmt5soh8mo5uehu</string>
	<key>API_KEY</key>
	<string>AIzaSyBcU50vpiF3a2eKR5ruiWGsnNlf-WqCkRs</string>
	<key>GCM_SENDER_ID</key>
	<string>860762438269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.userMobileApp</string>
	<key>PROJECT_ID</key>
	<string>healthsync-978bd</string>
	<key>STORAGE_BUCKET</key>
	<string>healthsync-978bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860762438269:ios:d9a32b2e2a43ec5b53cf14</string>
</dict>
</plist>